.home_Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 80px;
}
.details_Container h1{
    font-size: 42px;
    color: #363636;
    word-spacing: 5px;
}
.details_Container h2{
    font-size: 22px;
    color: #fc674d;
}

.details_Container ul li{
    list-style-type: square;
    color: #363636;
    font-size: 16px;
    margin-top: 10px;
}


.img_Container img{
    width: 450px;
    object-fit: cover;
}

.customer_Reviews h1{
    font-size: 42px;
    color: #363636;
    text-align: center;
}
.reviews_container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
   padding: 20px;
}
.all_link_btn{
    text-align: center;
    margin-top: 50px;
}
.all_link_btn a{
    text-decoration: none;
    background-color: #ff7962;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.all_link_btn a:hover{
    background-color: transparent;
    color: #ff7962;
    border: 1px solid #ff7962;
}

@media only screen and (max-width: 779px) {
    .home_Container{ 
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        grid-gap: 20px;
    }
    .details_Container h1{font-size: 28px;}
    .img_Container{ text-align: center;}
    .img_Container img{width: 380px;}
    .reviews_container{ grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (min-width: 780px) {
    .home_Container{ 
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        grid-gap: 30px;
    }
    .details_Container h1{font-size: 28px;}
    .img_Container{ text-align: center;}
    .img_Container img{width: 350px;}
    .reviews_container{ grid-template-columns: repeat(2, 1fr);}
}
@media only screen and (min-width: 1020px) {
    .reviews_container{ grid-template-columns: repeat(3, 1fr);}
  }